<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.webuy">

    <application
        android:name=".views.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icone_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.purshaseGroup.BuyingGroupActivity"
            android:label="@string/title_activity_list_buying_group"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".views.purshaseGroup.CreatePurshaseGroupActivity" />
        <activity
            android:name=".views.customerSupport.CrispSDKActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.deal.AddDealActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.stats.DashbordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.deal.DealDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.onboarding.OnboardingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.account.AccountPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.account.AccountInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.account.AccountActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.home.HomeActivity"
            android:label="Main3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>